*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Standard CSS Reset above. Custom styling below. */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  border: solid 1px black;
  width: 800px;
  height: 800px;
}

.row {
  display: flex;
}

.square {
  border: solid 1px black;
}

.filled {
  background-color: black;
}

#options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

#options-right {
  border: solid 1px black;
  padding: 0.5rem;
}

#options-color-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.15rem;
  text-decoration: underline;
}

#options-list {
  display: flex;
  gap: 0.5rem;
}
